html
   head
      title Signup
   body
      if(message)
         h4 #{message}
      form(action = "/signup" method = "POST")
         input(name = "user_id" type = "text" required placeholder = "User ID")
         input(name = "name" type = "text" required placeholder = "Name")
         input(name = "password" type = "password" required placeholder = "Password")
         input(name = "age" type = "text" required placeholder = "Age")
         input(name = "nationality" type = "text" required placeholder = "Nationality")
         button(type = "Submit") Sign me up!